.featured-link{
    display: block;

    background-color: var(--brand-red);
    
    & img{
        transition: opacity 0.3s ease;

        display: block;
    }

    &:hover{
        & img {
            opacity: 0.6;
        }
    }
}

.featured-info{
    padding: 10px 0;
    text-align: center;
}
    .featured-info-date{
        margin-top: 3px;

        font-size: var(--fs14);
        color: var(--gray);
    }
