.image--fullWidth{
	position: relative;
	width: 100vw;
	height: 35vh;

	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;

	@media (--screen-md-min) {
		height: 45vh;
	}
	@media (--screen-lg-min) {
		height: 65vh;
	}
}

.image--main{
	height: 15vh;
	@media (--screen-md-min) {
		height: 25vh;
	}
}